:root{
    --main-color:#ffff;
}
*{
    box-sizing: border-box;
    
}
.container{

    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
body{
    background-color: #525659;
}

/* start header*/

.container{
    text-align: center;

    
}
.myembedpdf{
   width:100%;
   height:1000px;
    border:none;
    overflow-y: hidden;
}

   